{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} {{title}} {% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.locale('pl') }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{% endblock %}

{% block navbar %}
    {%  if userLogin %}
    {% include "includes/navbar-logged.html" %}
    {% else %}
    {% include "includes/navbar.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container mt-2">
      {% if userLogin %}
        {% for message in get_flashed_messages() %}
        <div class="col-12-lg">
            <div class="alert alert-success alert-dissmissible fade show" role="alert">
                {{ message }}
                <button class="btn btn-close" data-bs-dismiss="alert" aria-label="Close" type="button"></button>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <form action="/addSubject" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.subject.label(class_="form-label") }}
                    {{ form.subject(class_="form-control") }}
                    {{ form.submit(class_="btn btn-dark mt-3 float-end") }}
                </form>
            </div>
        </div>
      {% else %}
            <div class="alert alert-warning">
                Nie jesteś zalogowany
                <a href="/login" class="alert-link">Przejdź do strony logowania</a>
            </div>
        {% endif %}
    </div>
    {% include "includes/footer.html" %}
{% endblock %}