{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} {{title}} {% endblock %}

{% block navbar %}
    {% include "includes/navbar.html" %}
{% endblock %}

{% block content %}
<div class="container mt-3">
    <form method="post" action="/showWeather">
        <div class="mb-3 mt-3">
            {{ form.hidden_tag() }}
            {{ form.station.label(class_="form-label") }}
            {{ form.station(class_="form-control mb-3", value_=a) }}
            {{ form.submit(class_="btn btn-success") }}
        </div>
    </form>
        {% if hasData == True %}
        <p class="ml-3">Data pomiaru: {{ date }}</p>
        <p class="ml-3">Godzina pomiaru: {{ time }}</p>
        <p class="ml-3">Temperatura: {{ temperature }}</p>
        <p class="ml-3">Prędkość wiatru: {{ wind_speed }}</p>
        <p class="ml-3">Kierunek wiatru: {{ wind_direction }}</p>
        <p class="ml-3">Wilgotność względna: {{ humidity }}</p>
        <p class="ml-3">Suma opadu: {{ rain_sum }}</p>
        <p class="ml-3">Ciśnienie: {{ pressure }}</p>
        {% else %}
        <p class="ml-3">{{ message }}</p>
        {% endif %}
</div>
{% endblock %}